
:root {
    --background-color: white;
    --text-color: black;
    --td-background-color: #f9f9f9;
    --button-background-color: #3498db;
    --modal--background-color: white;
}

/* Dark mode overrides */
body.dark-mode {
    --background-color: black;
    --text-color: white;
    --td-background-color: #6f6f6f;
    --button-background-color: #37474f;
    --modal--background-color: darkgrey;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
button {
    background-color: var(--button-background-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px; /* Add space below buttons */
}

    button:hover {
        opacity: 0.8;
        /* Make button slightly transparent on hover */
    }

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }

    nav .nav-links {
        display: flex;
        align-items: center;
    }

        nav .nav-links button {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 1em;
            margin-left: 10px;
            cursor: pointer;
        }


        nav .nav-links a {
            color: var(--text-color);
            text-decoration: none;
            padding: 0 15px;
            font-size: 1em;
        }

            nav .nav-links a.active,
            nav .nav-links a:hover {
                text-decoration: underline;
            }

  


#homeBtn {
    font-weight: bold;
    font-size: 2em;
}

#toggle-mode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

label {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: block;
    background: lightgray;
    border-radius: 20px;
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.4), inset 0px -2px 8px rgba(255,255,255,0.4);
    transition: 0.3s;
}

    label:after {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 18px;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
        transition: 0.3s;
    }

.toggleBox {
    width: 0;
    height: 0;
    visibility: hidden;
}

    .toggleBox:checked + label {
        background: #242424;
    }

        .toggleBox:checked + label:after {
            left: 46px;
            transform: translate(-100%);
            background: linear-gradient(180deg, #777, #3a3a3a);
        }

label:active:after {
    width: 26px;
}

p, h3,h4 {
   
    text-align: center;
}


#authors-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
    justify-content: center;
    margin: 80px;
    padding: 40px;
}



.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--td-background-color);

}

h1 {
    display: flex;
    justify-content: center;
    margin: 40px;
}



#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    width: 20%;
}




/*same size for all img tags*/
img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;

}



footer {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.author-books {
    cursor: pointer;
    text-align: center;
    color: #3498db;
}

    .author-books:hover {
        text-decoration: underline; 
    }

#authorsModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    /*left: 0;*/
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    z-index: 1;
}

#modal-content {
    background-color:antiquewhite;
    /*spacing between the items*/
    margin: auto;
    margin-top: 70px;
    padding: 20px;

    border: 1px solid #888;
    height: 80%;
    width: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: modalopen;
    animation-duration: 0.4s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure modal content stays within the modal */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes modalopen {
    from {
        top: 300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.book {
    height: 100%;
    width: 80%;

}

/* Adjust item sizes in modal */
#modal-content img {
    width: 120px;
    height: 220px;
    border-radius: 10px;
    cursor: default;
    margin: auto;
    display: block;
    margin: auto;
    
}

#modal-content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#modal-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: left;
}

#modal-content a {
    font-size: 0.9em;
    color: #3498db;
}