
:root {
    --background-color: white;
    --text-color: black;
    --td-background-color: #f9f9f9;
    --button-background-color: #3498db;
    --modal--background-color: white;
    --carouselBtn-background-color: lightgray;
    --border-background-color: #ccc;
    --titleHover-color: #454F59;
}

/* Dark mode overrides */
body.dark-mode {
    --background-color: black;
    --text-color: white;
    --td-background-color: #6f6f6f;
    --button-background-color: #37474f;
    --modal--background-color: darkgrey;
    --carouselBtn-background-color: #37474f;
    --border-background-color: #C3DEFE33;
    --titleHover-color: #B6C2CF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}



#toggle-mode {
    position:absolute;
    top:0;
    right:0;
    margin: 20px;
}

label {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: block;
    background: lightgray;
    border-radius: 20px;
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.4), inset 0px -2px 8px rgba(255,255,255,0.4);
    transition: 0.3s;
}

label:after{
    content: "";
    width: 18px;
    height: 18px;
    position:absolute;
    top: 4px;
    left: 4px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 18px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.toggleBox {
    width: 0;
    height: 0;
    visibility: hidden;
}

    .toggleBox:checked + label {
        background: #242424;
    }

        .toggleBox:checked + label:after {
            left: 46px;
            transform: translate(-100%);
            background: linear-gradient(180deg, #777, #3a3a3a);
        }

label:active:after{
    width: 26px;
}

#userWelcome{
    position: absolute;
    top:0;
    right: 50px;
    margin: 25px;
    margin-right:30px;

}

table {
    display: flex;
    flex-direction: row;
    border-collapse: separate; /* Ensure the borders are separated */
    border-spacing: 10px; /* Adjust spacing as needed */
    width: 100%; /* Optional, for better table layout */
    margin: 20px auto; /* Optional, to center the table */
}

td {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid #ccc; /* Optional, to add a border to table cells */
    border-radius: 10px;
    padding: 10px; /* Optional, to add internal padding to cells */
    background-color: var(--td-background-color); /* Optional, to add background color to cells */ /* #f9f9f9 */
}

h1{
    display:flex;
    justify-content: center;
    margin:40px;
}
h2:hover,h3:hover{
    color: var(--titleHover-color);
}

p, h3 {
    color: var(--text-color);
    width: 250px; /* Adjust the width as needed */
    /* white-space: nowrap;*/ /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any text that overflows the width */
    text-overflow: ellipsis; /* Adds ellipsis (...) to indicate truncated text */
    /*border: 1px solid #ccc;*/ /* Optional, for better visibility */
    padding: 10px; /* Optional, for better spacing */
}

img{
    width: 120px;
    height: 220px;
    border-radius: 15px;
}

button {
    background-color: var(--button-background-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px; /* Add space below buttons */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
}

    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }

    nav .nav-links {
        flex: 1;
    }
        nav .nav-links button {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 1em;
            margin-left: 10px;
            cursor: pointer;
        }


        nav .nav-links a {
            color: var(--text-color);
            text-decoration: none;
            padding: 0 15px;
            font-size: 1em;
        }

            nav .nav-links a.active,
            nav .nav-links a:hover {
                text-decoration: underline;
            }

    nav .nav-actions {
        display: flex;
        align-items: center;
    }

        nav .nav-actions button {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 1em;
            margin-left: 10px;
            cursor: pointer;
        }

        nav .nav-actions input[type="text"] {
            padding: 5px;
            font-size: 1em;
        }

/* Header styles */
header {
    width: 100%; /* Make the header take up the full width of the page */
    height: 400px; /* Increase the height to make the header significantly taller */
    background-image: url('../Pics/pic (2).jpg');
    background-size: cover; /* Make sure the background covers the whole header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    text-align: center;
    padding: 60px 40px; /* Keep padding to add space around content */
    border-bottom: 2px solid var(--border-background-color);
    color: white; /* Adjust text color for better contrast against the background */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

    header h1 {
        margin-bottom: 10px;
    }

#search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px; /* Add padding around the search container */
    border-radius: 5px; /* Round the corners of the container */
}

#search-input {
    flex: 0.5; /* Reduce the width of the search input */
    max-width: 400px; /* Optionally limit the maximum width */
    padding: 8px; /* Adjust padding for the search input */
}

#searchBtn {
    margin-left: 10px;
    padding: 8px 16px; /* Adjust padding for the button */
}

header h1 {
    margin-bottom: 10px;
}

#search-container {
    margin: 20px 0; /* Adjust margin around the search container */
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-color);

}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin: 10px; 
    width: 40%; 
}

    button:hover {
        opacity: 0.8; /* Make button slightly transparent on hover */
    }

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:200px;
    
}

.wishlistButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

    .wishlistButton.filled {
        color: red;
    }

.more-details {
   
    cursor: pointer;
    text-align: center;
}

.more-details:hover{
    color: #3498db;
}

#allBooksBtn{
    position: absolute;
    right: 0;
}

#allEBooksBtn{
    position: absolute; 
    right: 0;
}

#booksModal {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    z-index: 1;
}

.bookModal{
    height: 100%;
    width: 100%;
}

#modal-content {
    background-color: antiquewhite;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #888;
    height: 80%;
    width: 40%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: modalopen;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure modal content stays within the modal */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes modalopen {
    from {
        top: 300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#modal-content img {
    width: 120px;
    height: 220px;
    border-radius: 10px;
    cursor: default;
    display:block;
    margin:auto;

}

#modal-content h3,h5 {
    margin-bottom: 10px;
    text-align:center;
}

#modal-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align:left;
}

#modal-content a {
    font-size: 0.9em;
    color: #3498db;
}

#top-books-container {
    margin: 0 auto;
}

#top-books-container > table > tr{
    margin: 0 auto;
}

    #top-books-container > table > tr > td {
        margin: 0 auto;
        margin-right: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border: 1px double #ccc;
    }

#recommended-books-container {
    margin: 0 auto;
}

    #recommended-books-container > table > tr {
        margin: 0 auto;
    }

        #recommended-books-container > table > tr > td {
            margin: 0 auto;
            margin-right: 15px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border: 1px double #ccc;
        }

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    overflow: hidden;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-row {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 200px; /* Adjust based on your design */
    position: relative;
    margin-left: 10px;
    border: 1px solid var(--border-background-color);
    background-color: var(--td-background-color);
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-button {
    background-color: var(--carouselBtn-background-color);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#carouselPrev {
    left: 0;
}

#carouselNext {
    right: 0;
}

.ebook-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.eBookCarousel {
    overflow: hidden;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.eBook-carousel-row {
    display: flex;
    transition: transform 0.5s ease; /* Adjust duration for smoother transition */
}

.eBookCarousel-item {
    min-width: 200px; /* Adjust based on your design */
    position: relative;
    margin-left: 10px;
    border: 1px solid var(--border-background-color);
    background-color: var(--td-background-color);
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ebook-carousel-button {
    background-color: var(--carouselBtn-background-color);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#eBookCarouselPrev {
    left: 0;
}

#eBookCarouselNext {
    right: 0;
}