
:root {
    --background-color: white;
    --text-color: black;
    --td-background-color: #f9f9f9;
    --button-background-color: #3498db;
    --quiz-background-color: #C6EDFB;
    --border-background-color: #85B8FF;
}

/* Dark mode overrides */
body.dark-mode {
    --background-color: black;
    --text-color: white;
    --td-background-color: #6f6f6f;
    --button-background-color: #37474f;
    --quiz-background-color: #206A83;
    --border-background-color: #42B2D7;
}
button {
    background-color: var(--button-background-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 10px; /* Add space below buttons */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 10px 20px;
}

    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }

    nav .nav-links {
        display: flex;
        align-items: center;
    }

        nav .nav-links button {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 1em;
            margin-left: 10px;
            cursor: pointer;
        }


        nav .nav-links a {
            color: var(--text-color);
            text-decoration: none;
            padding: 0 15px;
            font-size: 1em;
        }

            nav .nav-links a.active,
            nav .nav-links a:hover {
                text-decoration: underline;
            }

#homeBtn {
    font-weight: bold;
    font-size: 2em;
}

button:hover {
    opacity: 0.8; /* Make button slightly transparent on hover */
}



@media (max-width: 425px) {
    body {
        font-size: 12px;
    }

    button {
        padding: 0.1em;
    }

    nav {
        font-size: 12px;
    }

    #quiz {
        width: 80%;
        font-size: 0.9em;
        margin: 0.5em auto;
    }

    h1 {
        font-size: 1em;
    }

    #modal-content {
        width: 90%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    button {
        padding: 0.2em;
    }

    #quiz {
        width: 30%;
        font-size: 1em;
        padding: 0.4em;
        margin: 0.6em;
    }

    h1 {
        font-size: 2em;
    }

    #modal-content {
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 0.9em;
    }

    button {
        padding: 0.3em;
    }

    #quiz {
        width: 60%;
        font-size: 1em;
        margin: 0.7em auto;
    }

    h1 {
        font-size: 2.5em;
    }

    #modal-content {
        width: 60%;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 10px;
    }

    button{
        padding: 0.3em;
    }

    #quiz {
        width: 40%;
        font-size: 1em;
        padding: 0.5em;
        margin: 0.8em;
    }

    h1 {
        font-size: 2.5em;
    }
}


@media (max-width: 425px) {
    body {
        font-size: 12px;
    }
    button{
        padding: 0.1em;
    }

    #quiz {
        width: 25%;
        font-size: 0.3em;
        margin: 0 auto;
    }

    h1 {
        font-size: 1em;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 25px;
    font-size: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    background-image: url('../Pics/questionmarks_design-removebg-preview.png'); /* Replace with your image path */
    background-repeat: repeat;
    height: 100%; /* Full height of the viewport */
    width: 97%; /* Full width of the page */
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

    nav button {
        margin: 20px;
    }
    /*#homeBtn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
    }*/

#toggle-mode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

nav > .nav-links > label {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: block;
    background: lightgray;
    border-radius: 20px;
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.4), inset 0px -2px 8px rgba(255,255,255,0.4);
    transition: 0.3s;
}

nav > .nav-links > label:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 18px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

nav > .nav-links > .toggleBox {
    width: 0;
    height: 0;
    visibility: hidden;
}

nav > .nav-links > .toggleBox:checked + label {
    background: #242424;
}

nav > .nav-links > .toggleBox:checked + label:after {
    left: 46px;
    transform: translate(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

nav > .nav-links > label:active:after {
    width: 26px;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 40px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%);
}

#quiz {
    background-color: var(--quiz-background-color);
    border: 2px solid var(--border-background-color);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    width: fit-content;
    margin: 1.5em;
    padding: 0.7em;
    position: absolute;
    align-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    top: 150px; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%);
}

/*#quiz > p{
    font-weight: bold;
}*/

#startGame {
    position: absolute;
    top: 300px; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%);
}

#nextQuestion {
    animation: fadeIn 1s ease-in forwards;
    position: absolute;
    /*bottom: -80px;*/ /* Distance from the top */
    right: -5%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#finishQuiz {
    animation: fadeIn 1s ease-in forwards;
    width: fit-content;
    margin: 1em;
    position: absolute;
    align-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}


#finishGame {
    position: absolute;
    top: 53em; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%);
}

button {
    width: fit-content;
    background-color: var(--button-background-color);
    color: white; /* Text color */
    padding: 10px;
    white-space: nowrap;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    /*margin: 10px;*/ /* Add space below buttons */
}

    button:hover, button:hover {
        opacity: 0.8; /* Add a hover effect */
    }

img { 
    animation: fadeIn 1s ease-in forwards;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
}

#quizExp {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

label{
    margin: 15px;
    white-space: nowrap;
}

#gameScore {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

label:hover{
    border-color: lightgrey;
    opacity: 0.8;
}

input {
    margin: 10px;
}

#quiz > label > input{
    margin: 10px;
}


label.correctAnswer {
    background-color: #90ee90;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

label.incorrectAnswer {
    background-color: #ee9090;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


#scoresModal {
    display: none; /* Hide by default */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    z-index: 1;
}

#modal-content {
    background-color: #9FADBC;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #888;
    height: auto;
    max-height: 80%; /* Ensure it doesn't take more than 80% of the screen height */
    width: 40%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; /* Ensure modal content stays within the modal */
    animation-name: modalFadeIn;
    animation-duration: 0.4s;
}

.highScoreTable {
    width: 100%; /* Use full width of the modal content */
    border-collapse: collapse;
    margin-top: 20px;
}

    .highScoreTable th,
    .highScoreTable td {
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .highScoreTable th {
        background-color: #9FADBC; /* Customize your header background color */
        color: var(--text-color);
    }

    .highScoreTable tr:hover {
        background-color: #f1f1f1;
    }

#closeModal {
    color: #1D2125;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

    #closeModal:hover,
    #closeModal:focus {
        color: #38414A;
        text-decoration: none;
        cursor: pointer;
    }

.highScoreTable td {
    padding: 10px;
}

@keyframes modalFadeIn {
    from {
        top: 300px;
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        top: 0;
        opacity: 1;
        transform: scale(1);
    }
}

#modal-content {
    animation-name: modalFadeIn;
    animation-duration: 0.3s;
}